<main class="homepage">
  <section class="banner">
    <div class="banner-headings">
        <h1>Welcome to Deliverall</h1>
        <h3>Your favorite restaurants and</h3>
        <h3>takeaways delivered to your door</h3>
    </div>
    <div class="search-bar">
      <h5>Enter your address</h5>
      <input type="text" placeholder="Search restaurants" name="search">
      <input type="submit" value="Submit">
    </div>

  </section>
</main>
